@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    opacity: 1 !important;
}

#intro {
    height: 80vh;
}

#about {
    background-color: #9ebd9e51;
}

.slideshow-container {
    position: relative;
    width: 250vw;
    height: 50vh;
    margin-top: 25px;
    /* Enough height to accommodate the tallest image */
}

.slideshow {
    display: flex;
    align-items: center;
    animation: scroll 90s linear infinite;
    /* Continuous, seamless movement */
}

.slide {
    margin-right: 5vw;
    object-fit: cover;
    background: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
    min-width: 400px;
}

/* Alternate heights for images */
.slide:nth-child(odd) {
    height: 40vh;
}

.slide:nth-child(even) {
    height: 50vh;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
        /* Start from the beginning */
    }

    100% {
        transform: translateX(-111%);
        /* Move the entire slideshow container to the left */
    }
}

.abt-img-1 {
    min-width: 30vw;
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
    margin-left: 50px;
}

.abt-img-2 {
    width: 150%;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
    margin-right: 50px;
}

#about-page p {
    line-height: 35px;
    font-size: larger;
}

.services-grid div {
    background-color: #9ebd9e51;
}